<form id="container" [formGroup]="newsFormGroup">
  <div id="firt_column" class="column">
    <div>
      <div>*Title</div>
      <input type="text" [formControl]="titleControl" />
    </div>
    <div>
      <div>*Short description</div>
      <input type="text" [formControl]="descriptionControl" />
    </div>
    <div>
      <div>Content</div>
      <textarea
        id="content"
        type="text"
        rows="10"
        cols="33"
        [formControl]="contentControl"
      ></textarea>
    </div>
  </div>
  <div id="second_column" class="column">
    <div>
      <div id="radio">
        <div>Image</div>
        <input
          name="image"
          id="url"
          type="radio"
          value="url"
          [formControl]="typeOfImageControl"
          checked
        />
        <label for="url">Url</label>
        <input
          name="image"
          type="radio"
          id="file"
          value="file"
          [formControl]="typeOfImageControl"
        />
        <label for="file">File</label>
      </div>
      <div>
        <input type="text" [formControl]="imageUrlControl" />
      </div>
    </div>
    <div>
      <div>Date</div>
      <input type="text" [formControl]="dateControl" />
    </div>
    <div>
      <div>Author</div>
      <input type="text" [formControl]="authorControl" />
    </div>
    <div>
      <div>Source URL</div>
      <input type="text" [formControl]="sourceUrlControl" />
    </div>
    <div id="buttons">
      <button (click)="handleSave()" [disabled]="newsFormGroup.invalid">
        {{ savedButtonText }}
      </button>
      <button (click)="handleCancel()">Cancel</button>
    </div>
  </div>
</form>
