#container {
  height: 5%;
  border: 2px solid black;
  border-bottom: 0;
  display: flex;
  justify-content: space-between;
}

#user {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

#image {
  width: 10%;
}

#buttons {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
}

#or {
  margin-left: 10px;
  margin-right: 10px;
}
