<div id="container">
  <div>
    <img
      id="image"
      *ngIf="isThereActiveUser"
      alt="U can use image"
      [src]="activeUser.imageUrl"
    />
  </div>
  <div id="user">
    <div>
      <div id="user_name" *ngIf="isThereActiveUser">
        User: {{ activeUser.name }}
      </div>
    </div>
    <div id="buttons">
      <div *ngIf="isThereActiveUser">
        <button (click)="handleLogOut()">log out</button>
      </div>
      <div *ngIf="!isThereActiveUser">
        <button (click)="handleLogIn()">
          log in
        </button>
      </div>
      <div id="or" *ngIf="!isThereActiveUser">or</div>
      <div *ngIf="!isThereActiveUser">
        <button (click)="handleSingUp()">sing up</button>
      </div>
    </div>
  </div>
</div>
