:host {
  display: flex;
  width: 70%;
  height: 10%;
  margin-top: 30px;
  padding: 10px;
  border: 2px solid black;
}

#image {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#date {
  margin: 10px 20px 10px 20px;
  width: 20%;
}

#description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#title {
  height: 30%;
}

#desc {
  height: 60%;
}

#buttons {
  width: 15%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.text {
  overflow: hidden;
}

img {
  width: 80%;
  height: 80%;
}
